<!-- src/app/components/header/header.component.html -->
<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h1 class="my-0 mr-md-auto font-weight-normal">Projet Réservations</h1>
  
  <form id="frmSearch" class="form-inline mt-2 mt-md-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Rechercher" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">🔍</button>
  </form>
  
  <!-- Si NON connecté -->
  <div *ngIf="!isLoggedIn">
    <a id="login" class="btn btn-outline-primary mx-2" routerLink="/login">Se connecter</a>
    <a id="signin" class="btn btn-outline-primary" routerLink="/register">S'inscrire</a>
  </div>
  
  <!-- Si connecté -->
  <div *ngIf="isLoggedIn">
    <span class="mx-2 font-weight-bold">Bienvenue, {{username}}!</span>
    <a id="reservations" class="btn btn-outline-primary mx-2" routerLink="/reservations">Mes réservations</a>
    <a id="logout" class="btn btn-outline-danger" (click)="logout()">Déconnexion</a>
  </div>
</header>